  .navbar-brand img {
      height: 30px;
    }
    .product-card img {
      height: 150px;
      object-fit: cover;
    }
    footer {
      background-color: #343a40;
      color: white;
      padding: 20px 0;
    }
    .social-icons i {
      font-size: 20px;
      margin-right: 20px;
       text-decoration: none;
        color: white;
    }