* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: aqua;
}
ul{
    background-color: white;
}
nav{
    background-color: aliceblue;
    padding: 20px;
    border: 1px;
}
button{
    padding: 5px;
    color: blueviolet;
    line-height: normal;
}
img{
    padding: 30px;
}